.mb-xxs {
  margin-bottom: var(--spacing-xxs);
}

.mb-xs {
  margin-bottom: var(--spacing-xs);
}

.mb-md {
  margin-bottom: var(--spacing-md);
}

.mb-lg {
  margin-bottom: var(--spacing-lg);
}

.mb-xl {
  margin-bottom: var(--spacing-xl);
}

.mb-xxl {
  margin-bottom: var(--spacing-xxl);
}

.mt-xxs {
  margin-top: var(--spacing-xxs);
}

.mt-xs {
  margin-top: var(--spacing-xs);
}

.mt-md {
  margin-top: var(--spacing-md);
}

.mt-lg {
  margin-top: var(--spacing-lg);
}

.mt-xl {
  margin-top: var(--spacing-xl);
}

.mt-xxl {
  margin-top: var(--spacing-xxl);
}
